@import url("https://fonts.googleapis.com/css2?family=Anton&family=Caveat+Brush&family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=Francois+One&family=Lilita+One&display=swap");

/* searchbar */
.searchbar {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 40px;
  z-index: 2;
}

#search {
  border: solid 3px black;
  height: 60px;
  width: 400px;
  padding-left: 10px;
  font-family: "Comic Neue";
  font-size: 22px;
}

/* review show button sits within the ReviewModalWithButton component */
.search-btn {
  background-color: black !important;
  color: white !important;
  border: white 3px solid !important;
  border-radius: 0 !important;
  font-family: "Francois One" !important;
  font-size: 25px !important;
  font-weight: bolder !important;
  margin-left: 10px;
  letter-spacing: 1.25px;
}

/* Hero */
.hero-txt {
  font-family: 'Comic Neue';
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: solid 2px black;
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 10px;
}

.brand, .sleep, .cta-txt {
  font-weight: bold !important;
}

.cta-txt {
  padding-top: 5px;
  font-size: 19px;
  color: #CB6CE6;
}
.hero-vid {
  width: 55%;
  padding-top: 25px;
  margin: 0 auto;
  margin-top: -39px;
}

/* modal */
.modal-close-btn {
color: black;
}

.modal-save-btn {
  color: black;
}
/* remove from watchlist button */

/* review tv show and add to watchlist buttons */
.review-btn, .add-btn {
  background-color: transparent !important;
  color: white !important;
  font-family: "Francois One" !important;
  font-size: 20px !important;
  border: none !important;
}

.review-btn:hover, .add-btn:hover {
  opacity: 0.6;
}

/* footer */
.footer-section {
  padding: 1%;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Comic Neue";
}

/* Back to the top of the page link */
.pg-rights {
  font-size: 15px;
}

.top-link, .top-text {
  font-family: "Comic Neue";
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.top-link:hover {
  text-decoration: underline;
}

.top-link h5 {
  padding-top: 10px;
}

/* Social media icons in footer section */
.fa {
  padding: 0.5%;
  text-align: center;
  text-decoration: none;
  color: white !important;
}

.fa:hover {
  opacity: 0.7;
}
