@import url("https://fonts.googleapis.com/css2?family=Anton&family=Caveat+Brush&family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=Francois+One&family=Lilita+One&display=swap");

/* page titles */

h2 {
  font-family: "Francois One";
  margin-top: 15px;
}

h3,
.rating-cont {
  font-family: "Francois One";
}

.modal-title {
  font-family: "Anton" !important;
  letter-spacing: 0.5px;
}

/* searchbar */
.searchbar {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 40px;
  z-index: 2;
}

#search {
  border: solid 3px black;
  height: 2em;
  width: 15em;
  padding-left: 10px;
  font-family: "Comic Neue";
  font-size: 22px;
}

/* search button */
.search-btn {
  background-color: black !important;
  color: white !important;
  border: white 3px solid !important;
  border-radius: 0 !important;
  font-family: "Francois One" !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  margin-left: 10px;
  letter-spacing: 1.25px;
  height: 2.2em !important;
}

/* Hero */
.hero-background {
}

.hero-txt {
  font-family: "Comic Neue";
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: solid 2px black;
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 10px;
}

.brand,
.sleep,
.cta-txt {
  font-weight: bolder !important;
}

.cta-txt {
  padding-top: 5px;
  font-size: 16px;
  color: #cb6ce6;
}
.hero-vid {
  width: 55%;
  padding-top: 25px;
  margin: 0 auto;
  margin-top: -39px;
}

/* modal */
.modal-close-btn {
  background-color: black !important;
  border: none !important;
  border-radius: 1px !important;
  font-family: "Francois One" !important;
}

.modal-save-btn {
  background-color: #00a99d !important;
  border: none !important;
  border-radius: 1px !important;
  font-family: "Francois One" !important;
}

.modal-img {
  width: 35%;
  border: 3px solid black;
}

.modal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.show-stats {
  font-family: "Comic Neue";
  font-weight: 700;
  line-height: 30px;
}

.rating-cont {
  margin-top: 20px;
  padding: 10px;
}

.star-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.review-txt {
  margin-top: 15px;
}

textarea {
  width: 100%;
}

.overall-rating {
  float: right;
  display: flex;
  align-items: center;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
}
/* remove from watchlist button */

/* review tv show and add to watchlist buttons */
.review-btn,
.add-btn {
  background-color: transparent !important;
  color: white !important;
  font-family: "Francois One" !important;
  font-size: 20px !important;
  border: none !important;
}

.review-btn:hover,
.add-btn:hover {
  opacity: 0.6;
}

/* footer */
.footer-section {
  padding: 1%;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Comic Neue";
}

/* Back to the top of the page link */
.pg-rights {
  font-size: 15px;
}

.top-link,
.top-text {
  font-family: "Comic Neue";
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.top-link:hover {
  text-decoration: underline;
}

.top-link h5 {
  padding-top: 10px;
}

/* Social media icons in footer section */
.fa {
  padding: 0.5%;
  text-align: center;
  text-decoration: none;
  color: white !important;
}

.fa:hover {
  opacity: 0.7;
}
