@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat+Brush&family=Francois+One&family=Lilita+One&display=swap');

.nav-links-group {
text-align: center;
}

.home-link , .reviews-link , .watchlist-link {
font-family: "Anton";
font-size: 25px !important;
color: black !important;
margin-left: 10px !important;
padding-top: 50px !important;
padding-right: 23px !important;
}

.home-link:hover, .reviews-link:hover , .watchlist-link:hover {
font-size: 27px !important;
}

.home-link:hover {
color: #CB6CE6 !important;
}

.reviews-link:hover {
color: #00A99D !important;
}

.watchlist-link:hover {
color: #F7D000 !important;
}

.home-link {
    width: 150px;
    height: 150px;
    background-image: url("../assets/images/5.jpg") !important;
    background-size: 150px 150px !important;
    background-repeat: no-repeat !important;
}

.reviews-link {
    width: 260px;
    height: 150px;
    background-image: url("../assets/images/4.jpg") !important;
    background-size: 265px 150px !important;
    background-repeat: no-repeat !important;
}

.watchlist-link {
    width: 230px;
    height: 150px;
    background-image: url("../assets/images/6.jpg") !important;
    background-size: 230px 150px !important;
    background-repeat: no-repeat !important;
}