@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./assets/10.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer-section {
  padding: 1%;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Comic Neue";
  margin-top: auto;
}
